# Zkopíruj na secrets.yaml a doplň hodnoty.
# api_encryption_key: python3 -c "import secrets,base64; print(base64.b64encode(secrets.token_bytes(32)).decode())"

wifi_ssid: "TvojeWifi"
wifi_password: "heslo"
ap_password: "hlukomer-ap"
ota_password: "zmen-me"
api_encryption_key: "NAHRAD_BASE64_32B_KEY"
ingest_api_key: "zmen-stejne-jako-INGEST_API_KEY-v-docker"
